html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: #444;
    background-color: rgb(254, 254, 254);
    line-height: 1.5;
}
#controls {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: sans-serif;
}

#controls button {
    display: inline;
    background-color: #272822;
    color: #f8f8f2;
    border: none;
    outline: none;
    margin: 0;
    font-size: 6pt;
}

#parent-all-scheme {
    height: 100%;
    position: relative;
    overflow: auto;
    padding: 10px;
}

#img-all-scheme {
    position: absolute;
    width: 100%;
}

#parent-part-scheme {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: auto;
}

#img-part-scheme,#img-part-scheme-a,#img-part-scheme-b {
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlay-piece {
    position: absolute;
    opacity: 0;
    background-color: rgba(39, 40, 34, 0.6);
    top: 0px;
    left: 0px;
}

#overlay-border-rect {
    position: absolute;
    border: 2px solid #272822;
    opacity: 0;
}

#slide-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 500px;
    height: 100%;
    display: none;
    opacity: 0;
}

#slide-header {
    padding: 1px;
    background-color: #272822;
}

#slide-content {
    border: 1px solid white;
    color: #272822;
    background-color: rgba(255,255,255, 0.95);
    height: 100%;
    overflow: auto;
    position: relative;
}

.slide-img-scheme {
    top: 10px;
    left: 10px;
    position: absolute;
}

#html-block {
    position: absolute;
    left: 10px;
    top: 10px;
}

.intFactBlock {
    font-size: 26pt;
}

.codeBlock {
    width: 100%;
    font-size: 20pt;
}

.textBlock {
    font-size: 15pt;
}

.codeBlockItem {
    display: none;
}

quote {
    border-left: 7px solid #ccc;
    display: block;
    color: #555;
    padding-left: 10px;
    font-size: 29pt;
}

#nextAction {
    position: absolute;
    padding: 10px;
    bottom: 20px;
    right: 3px;
    color: #e0d7d1;
    background-color: #5F6364;
    border: none;
}

button {
    cursor: pointer;
    outline: none;
}